.navbar.navbar-default {
  margin-bottom: 0;
}

.connection-indicator {
  &.connected {
    background-color: #65ff70;
    color: white;
    padding: 0 10px;
  }

  &.offline {
    background-color: #FF6565;
    color: white;
    padding: 0 10px;
  }
}
