.navbar.navbar-default {
  margin-bottom: 0;
}

.connection-indicator {
  padding: 0 10px;

  &.connected {
    background-color: #65ff70;
  }

  &.offline {
    background-color: #FF6565;
    color: white;
  }
}
