.story {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightgrey;

  .title {
    display: inline-block;
    height: 34px;
  }

  .btn-group {
    float: right;
  }
}


.btn.story-submit-button {
  vertical-align: top;
}
