<template name="story">
  <div class="story {{sizeClass depth}}">
    {{#if editing}}
      {{> updateStoryForm editingStory=this}}
    {{else}}
      <p class="title">{{title}}</p>
    {{/if}}

    <div class="btn-group" role="group">
      <button type="button" class="complete btn btn-default">
        <span class="glyphicon glyphicon-ok"></span>
      </button>

      <button type="button" class="edit btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>

      <button type="button" class="delete btn btn-default">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
