.story {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid lightgrey;
  border-top: 0;
  border-right: 5px solid white;
  cursor: pointer;

  .title, .title-edit {
    display: inline-block;
    float: left;
    width: 100%;
  }

  .btn-group {
    float: right;
  }

  input {
    outline: none;
    border: 0;
    padding: 0;
  }

  &.editing {
    .state-indicator {
      background-color: lightgrey;
      height: 30px;
    }
  }
}

.btn.story-submit-button {
  vertical-align: top;
}
