
.story {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightgrey;
  border-top: 1px solid grey;
  border-left: 1px solid grey;

  .title {
    display: inline-block;
  }

  .btn-group {
    float: right;
  }
}


.btn.story-submit-button {
  vertical-align: top;
}
