
.story {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightgrey;

  .title {
    display: inline-block;
  }

  .btn-group {
    float: right;
  }
}


.btn.story-submit-button {
  vertical-align: top;
}

.navbar.navbar-default {
  margin-bottom: 0;
}
