<template name="styles">
  <style>
    body {
      background-color: {{themeColors.background}};
      color: {{themeColors.text}};
    }

    a {
      color: {{themeColors.text}};
    }

    input {
      background-color: {{themeColors.background}};
    }

    .story .state-indicator.selected {
      background-color: {{themeColors.indicators}};
    }

    .story .state-indicator.editing {
      background-color: {{themeColors.text}};
    }

    .story .show-children span {
      color: {{themeColors.indicators}};
    }

    .stories-list.show-border {
      border-color: {{themeColors.indicators}};
    }

    .keymappings {
      border-color: {{themeColors.indicators}};
    }
  </style>
</template>
