<template name="storyTitle">
  {{#if editing}}
    <form id="storyUpdateForm">
      <input
        name="title"
        type="text"
        class="title-edit"
        placeholder="title"
        rows=1
        value={{title}}
        maxlength={{titleMaxChars}}>
    </form>
  {{else}}
    {{#if aboutToDelete}}
      <p class="title pending-delete">Delete? yes (y) no (n)</p>
    {{else}}
      <p class="title {{#if done}}done{{/if}}">({{position}}) {{title}}</p>
    {{/if}}
  {{/if}}
</template>
