<template name="keymappings">
  {{#if showHelp}}
    <div class="keymappings">
      <span><span class="glyphicon glyphicon-arrow-left"></span> collapse</span>
      <span><span class="glyphicon glyphicon-arrow-up"></span> up</span>
      <span><span class="glyphicon glyphicon-arrow-down"></span> down</span>
      <span><span class="glyphicon glyphicon-arrow-right"></span> expand</span>
      <div class="clearfix"></div>
      <span>enter - edit</span>
      <div class="clearfix"></div>
      <span>n - new</span>
      <div class="clearfix"></div>
      <span>d - delete</span>
      <div class="clearfix"></div>
      <span>h - toggle help</span>
    </div>
  {{/if}}
</template>
