<template name="keymappings">
  {{#if showHelp}}
    <div class="keymappings container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="col-xs-4">
            <div class="clearfix"></div>
            <span class="keymap">[ enter ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ tab ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ shift + tab ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ shift + n ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ n ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ x ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ d ]</span>
            <div class="clearfix"></div>
            <span class="keymap">[ h ]</span>
          </div>
          <div class="col-xs-8">
            <div class="clearfix"></div>
            <span>edit/save</span>
            <div class="clearfix"></div>
            <span>toggle children</span>
            <div class="clearfix"></div>
            <span>toggle all children</span>
            <div class="clearfix"></div>
            <span>new child story</span>
            <div class="clearfix"></div>
            <span>new sybling story</span>
            <div class="clearfix"></div>
            <span>toggle done</span>
            <div class="clearfix"></div>
            <span>delete</span>
            <div class="clearfix"></div>
            <span>toggle help</span>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-4">
              <div>
                [ <span class="glyphicon glyphicon-arrow-left"></span> ]
                [ <span class="glyphicon glyphicon-arrow-up"></span> ]
                [ <span class="glyphicon glyphicon-arrow-down"></span> ]
                [ <span class="glyphicon glyphicon-arrow-right"></span> ]
              </div>
              <div class="clearfix"></div>
              [ shift + <span class="glyphicon glyphicon-arrow-up"></span> ]
              <div class="clearfix"></div>
              [ shift + <span class="glyphicon glyphicon-arrow-down"></span> ]
              <div class="clearfix"></div>
              [ shift + <span class="glyphicon glyphicon-arrow-left"></span> ]
              <div class="clearfix"></div>
              [ shift + <span class="glyphicon glyphicon-arrow-right"></span> ]
            </div>
            <div class="col-xs-8">
              <div>navigate (or expand/collapse)</div>
              <div>move up</div>
              <div>move down</div>
              <div>move promote</div>
              <div>move demote</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
