<template name="keymappings">
  {{#if showHelp}}
    <div class="keymappings container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="clearfix"></div>
          <span>enter - edit/save</span>
          <div class="clearfix"></div>
          <span>tab - toggle children</span>
          <div class="clearfix"></div>
          <span>shift + tab - toggle all children</span>
          <div class="clearfix"></div>
          <span>n - new</span>
          <div class="clearfix"></div>
          <span>x - toggle done</span>
          <div class="clearfix"></div>
          <span>d - delete</span>
          <div class="clearfix"></div>
          <span>h - toggle help</span>
        </div>

        <div class="col-sm-6">
          <center>
            <span><span class="glyphicon glyphicon-arrow-left"></span> collapse</span>
            <span><span class="glyphicon glyphicon-arrow-up"></span> up</span>
            <span><span class="glyphicon glyphicon-arrow-down"></span> down</span>
            <span><span class="glyphicon glyphicon-arrow-right"></span> expand</span>
          </center>
        </div>

        <div class="col-sm-3">
          shift +
          <span class="glyphicon glyphicon-arrow-up"></span>
          <span class="glyphicon glyphicon-arrow-down"></span> - move story
        </div>
      </div>
    </div>
  {{/if}}
</template>
