<template name="navigation">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand connection-indicator {{connectionState}}" title="{{connectionState}}">
          <span class="glyphicon glyphicon-tree-conifer"></span>
        </div>

        <a class="navbar-brand treeland-text" href="#">
          TreeLand
        </a>


        {{> colorPicker name="background"}}
        {{> colorPicker name="text"}}
        {{> colorPicker name="indicators"}}
        <a class="markdown-export" href="{{exportLink}}" target="_blank">export</a>
      </div>
    </div>
  </nav>
</template>
