.navbar {
  margin-bottom: 0;
  border: 0;

  .treeland-text.navbar-brand {
    margin-left: 0;
  }

  .navbar-header {
    width: 100%;
  }

  .spacer {
    display: inline-block;
    float: left;
    width: 2px;
    height: 30px;
    margin: 10px 20px;
    background-color: grey;
  }

  a:hover {
    background-color: lightgrey;
    color: #333;
  }

  .connection-indicator {
    float: left;
    margin-top: 6px;
    padding: 6px;

    &.connected {
      color: #65ff70;
    }

    &.offline {
      color: #FF6565;
    }
  }

  .markdown-export {
    float: right;
    margin-top: 14px;
    margin-right: 10px;
    padding: 0 4px;

    &:hover {
      text-decoration: none;
    }
  }
}
